<#@ template hostspecific="true" language="C#" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#@ include file="Generator.ttinclude" #>
<#
    var parameters = new Dictionary<string, string>()
    {
        { "Namespace", "T4GenericsExample" },
        { "ClassName", GetTemplateName() },
        { "TypeParameter", "UInt64" }
    };
 
    Generate("GenericClass.ttinclude", parameters);
#>